h4 {
  font-weight: 600;
}

.upload-form-caption {
  margin-top: 30px;
}

.report-upload-form {
  margin-bottom: 50px;
  
  .upload-field {
    input[type="file"] {
      width: 240px;
    }
  }
}

.table {
  th,
  td {
    text-align: center;
  }
}